<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="third-party/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>BloodSend</title>
</head>
<body>
    <div class ="container">
        <header class ="header">
            <a class="logo" href="/">BloodSend</a>
            <nav class="navbar">
                <ul>
                    <li><a href="/">Home </a></li>
                    <li><a href="/about">About </a></li>
                    <button>Log in</button>
                    <button>Sign up</button>
                </ul>
            </nav>
        </header>

        <div class="donorslistcontainer">
            <ul class="donorslist">
                <% data.forEach(user => { %>
                    <li>
                        <label><a href="/users/<%= user._id %>"><%= user.firstname %> <%= user.lastname %> || Bloodtype: <%= user.bloodtype %></a></label>
                    </li>
                <% }); %>
            </ul>
        </div>
    </div>
</body>
</html>
