<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="third-party/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>BloodSend</title>
</head>
<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo">BloodSend</div>
            <ul>
                <li>Home</li>
                <li>About</li>
                <button>Log In</button>
                <button>Sign Up</button>
            </ul>
        </div>
    </nav>
</body>
</html>
