<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <div class="container">
        <form>
            <div>
                <label>First name:</label>
                <input type="text">
            </div>
            

            <div>
                <label>Last name:</label>
                <input type="text">
            </div>

            <div>
                <label>Email:</label>
                <input type="email">
            </div>

            <div>
                <label>Phone number:</label>
                <input type="phone">
            </div>

            <div>
                <label>Birthdate:</label>
                <input type="date">
            </div>

            <div>
                <label>Are donating or seeking blood?</label>
                <br>
                <label>Seeking</label>
                <input type="radio" name="donor" value="True">
                <label>Donating</label>
                <input type="radio" name="donor" value="False">
            </div>

            <div>
                <label>House Number</label>
                <input type="text">
            </div>

            <div>
                <label>Street</label>
                <input type="text">
            </div>

            <div>
                <label>Postcode</label>
                <input type="text">
            </div>

            <div>
                <label>Blood type:</label>
                <select>
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                    <option>D</option>
                    <option>E</option>
                    <option>F</option>
                    <option>G</option>
                    <option>H</option>
                </select>
            </div>
            <input type="submit">
        </form>
    </div>
    
</body>
</html>