<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <div class="container">
        <form method="POST">
            <div>
                <label>First name:</label>
                <input type="text" name="firstname" required>
            </div>
            

            <div>
                <label>Last name:</label>
                <input type="text" name="lastname" required>
            </div>

            <div>
                <label>Email:</label>
                <input type="email" name="email" required>
            </div>

            <div>
                <label>Password:</label>
                <input type="password" name="password" required>
            </div>

            <div>
                <label>Phone number:</label>
                <input type="phone" name="phone" required>
            </div>

            <div>
                <label>Birthdate:</label>
                <input type="date" name="birthday" required>
            </div>

            <div>
                <label>Are donating or seeking blood?</label>
                <br>
                <label>Seeking</label>
                <input type="radio" name="donor" value=1 required>
                <label>Donating</label>
                <input type="radio" name="donor" value=0 required>
            </div>

            <div>
                <label>Postcode</label>
                <input type="text" name="postcode" required>
            </div>

            <div>
                <label>Blood type:</label>
                <select name="bloodtype" required>
                    <option>A+</option>
                    <option>A-</option>
                    <option>B+</option>
                    <option>B-</option>
                    <option>O+</option>
                    <option>O-</option>
                    <option>AB+</option>
                    <option>AB-</option>
                </select>
            </div>
            <input type="submit">
        </form>
        
    </br>

        or <a href="/log-in">Log in </a>
    </div>
    
</body>
</html>